* {
  margin: 0;
  padding: 0;
  font-family: outfit;
}

$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main__container {
  background-color: $Light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.component__container {
  background: $White;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 500px;
  border-radius: 20px;
}

.img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

#img {
  height: 100%;
  width: 100%;
  border-radius: 13px;
}

.word__container {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 16px 16px 16px;
  height: 100%;
  border-radius: 13px;
}

.heading {
  font-size: 21px;
  font-weight: 700;
  color: $Dark-blue;
  margin: 0 20px;
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
  color: $Grayish-blue;
  margin: 20px 20px 27px 20px;
}
